<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Jin's Big Site</title>
</head>
<body>

    <div class="container">

        <!-- Dynamic Notes Section -->
        <div class="left-side" id="notes-container">
            <!-- Notes will be dynamically added here -->
        </div>
    
        <!-- self-introduction -->
        <div class="right-side">
            {% include "messages.html" %}
        </div>
    </div>


    <button id="add-note-btn">Add Message Here!</button>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>
</html>
