<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Jin's big Site</title>
</head>
<body>

    <!-- self-introduction -->
    {% include "messages.html" %}

    <!-- Dynamic Notes Section -->
    <section class="notes" id="notes-container">
        <!-- Notes will be dynamically added here -->
    </section>

    <button id="add-note-btn">Add New Note</button>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>
</html>
